@using PresentationLayer.Models
@model List<PLCustomer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table_dark">
    <tr>
        <th>CustomerId</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>OtherName</th>
    </tr>
    @foreach (PLCustomer customer in Model)
    {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.OtherName</td>
        </tr>
    }
</table>
